<style media="screen">
h1{
  color: #F96009;
  font-family: "Arial";
  font-weight: "600";
  font-size: 20px;
}
p{
  text-align: justify;
  color: #101435;
  font-family: "Arial";
  font-weight: "500";
  font-size: 14px;
}
.padding-b{
  padding-bottom: 30px;
}
</style>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-12 col-lg-4 padding-b">
      <img src="/assets/ecorutas.png" width=100%>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <h1>Rutas turísticas por Colombia</h1>
      <p>Bienvenidos a EcoTrip, una plataforma para ver,
        vivir y disfrutar del turismo rural ambiental en Colombia.</p>
        <p>Registrate como Guia o trotamundos, para acceder a todas las rutas.</p>

      <p>Viajes: Las rutas vinculadas están verificadas, también puedes acceder
      a las páginas oficiales turísticas nacionales, para que puedas tener
      la certeza y confianza para iniciar tu travesía por nuestro maravilloso
      país.</p>
      <p>Colombia es uno de los países con mayor biodiversidad de flora y fauna,
      con grandes parques nacionales naturales, albergando en su territorio la
      mayor extensión de páramo del mundo, a más de 3.000 especies de mariposas
      y a un 20% del total de las especies de aves del planeta. Todo esto se
      extiende en su amplio territorio, que cuenta con hermosos paisajes,
      debido a que tiene costas en los dos océanos y es atravesado por la
      Cordillera de los Andes.</p>
    </div>
  </div>
</div>
